@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 100%, 1;
    --topbar-height: 72px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background) !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  .next-error-h1 {
    color: #000 !important;
    border-right: 1px solid #000 !important;
  }
}

.roman-list {
  @apply list-none relative; /* Tailwind utilities for styling */
  counter-reset: list-counter; /* Initialize the counter */
}

.roman-list > li {
  counter-increment: list-counter; /* Increment the counter */
}

/* Custom Scrollbar style */
.custom_scollbar::-webkit-scrollbar {
  width: 8px !important;
  height: 6px;
  padding-top: 10px;
}

.custom_scollbar::-webkit-scrollbar-track {
  border-radius: 4px !important;
  background-color: transparent;
}

.custom_scollbar::-webkit-scrollbar-thumb {
  background-color: hsla(213, 27%, 84%, 1);
  border-radius: 4px !important;
}

::-webkit-scrollbar {
  width: 8px !important;
  height: 6px;
  padding-top: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 4px !important;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: hsla(210, 40%, 96%, 1);
  border-radius: 4px !important;
}

/* PhoneNumber Input */
.selected-flag {
  background-color: hsla(204, 33%, 97%, 1) !important;
  border-top-left-radius: 6px !important;
  border-bottom-left-radius: 6px !important;
}
.selected-flag:hover {
  background-color: hsla(204, 33%, 97%, 1) !important;
}

  select option {
    color: hsla(216, 30%, 18%, 1);
    background-color: transparent;
    padding: 8px;
  }

  select option:hover {
    background-color: hsla(204, 33%, 97%, 1);
  }